<%- include('includes/head.ejs') %>
    </head>
    <body>
        <%- include('includes/navigation.ejs') %>
        <main class="main-container">
            <h1 class="main-title fb">404</h1>
            <h2 class="desc-title">Page not found</h2>
        </main>
<%- include('includes/end.ejs') %>